{
  "presets": [
    "react-native"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "app": "./app",
          "screens": "./app/screens",
          "locales": "./app/locales",
          "config": "./app/config",
          "helpers": "./app/helpers",
          "components": "./app/components",
          "containers": "./app/containers",
          "redux-modules": "./app/redux-modules",
          "assets": "./app/assets",
          "offline": "./app/offline",
          "package.json": "./package.json"
        }
      }
    ]
  ]
}