<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.forestwatcher">

  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
  <uses-permission android:name="android.permission.CAMERA" />
  <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

  <uses-feature
    android:name="android.hardware.camera"
    android:required="false" />
  <uses-feature
    android:name="android.hardware.camera.autofocus"
    android:required="false" />
  <uses-feature
    android:name="android.hardware.sensor.compass"
    android:required="false" />

  <application
    android:name=".MainApplication"
    android:allowBackup="false"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/APP_NAME"
    android:theme="@style/AppTheme"
    android:largeHeap="true"
    android:appComponentFactory="androidx.core.app.CoreComponentFactory"
    tools:replace="android:label,android:appComponentFactory">
    <activity
      android:name=".MainActivity"
      android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
      android:label="@string/APP_NAME"
      android:screenOrientation="portrait"
      android:windowSoftInputMode="adjustResize"
      android:launchMode="singleTask">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
        <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
      </intent-filter>
      <!-- For below filters, see https://stackoverflow.com/questions/1733195/android-intent-filter-for-a-particular-file-extension -->
      <intent-filter
        android:label="@string/APP_NAME"
        android:icon="@mipmap/ic_launcher"
        android:priority="50"
      >
        <action android:name="android.intent.action.ATTACH_DATA" />
        <action android:name="android.intent.action.SEND" />
        <action android:name="android.intent.action.SEND_MULTIPLE" />
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.BROWSABLE" />
        <category android:name="android.intent.category.DEFAULT" />
        <data android:mimeType="@string/SHARING_BUNDLE_MIME_TYPE" />
        <data android:mimeType="application/zip" />
        <data android:mimeType="application/x-zip" />
      </intent-filter>
      <intent-filter
        android:label="@string/APP_NAME"
        android:icon="@mipmap/ic_launcher"
        android:priority="50"
      >
        <action android:name="android.intent.action.ATTACH_DATA" />
        <action android:name="android.intent.action.SEND" />
        <action android:name="android.intent.action.SEND_MULTIPLE" />
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.BROWSABLE" />
        <category android:name="android.intent.category.DEFAULT" />
        <data android:scheme="content" android:host="*" android:pathPattern="..*\\.gfwbundle" />
        <data android:scheme="file" android:host="*" android:pathPattern="..*\\.gfwbundle" />
      </intent-filter>
      <intent-filter
        android:label="@string/APP_NAME"
        android:icon="@mipmap/ic_launcher"
        android:priority="50"
      >
        <action android:name="android.intent.action.ATTACH_DATA" />
        <action android:name="android.intent.action.SEND" />
        <action android:name="android.intent.action.SEND_MULTIPLE" />
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.BROWSABLE" />
        <category android:name="android.intent.category.DEFAULT" />
        <data android:scheme="content" android:host="*" android:mimeType="*/*" android:pathPattern="..*\\.gfwbundle" />
        <data android:scheme="file" android:host="*" android:mimeType="*/*" android:pathPattern="..*\\.gfwbundle" />
      </intent-filter>
    </activity>
    <activity android:name="com.facebook.react.devsupport.DevSettingsActivity" />

    <meta-data
      android:name="com.google.android.geo.API_KEY"
      android:value="@string/GOOGLE_MAPS_API_KEY" />
    <meta-data
      android:name="com.facebook.sdk.ApplicationId"
      android:value="@string/LOGIN_FACEBOOK_APP_ID" />

    <activity
      android:name="com.facebook.FacebookActivity"
      android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
      android:label="@string/APP_NAME" />
    <activity
      android:name="com.facebook.CustomTabActivity"
      android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />

        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />

        <data android:scheme="@string/LOGIN_FACEBOOK_PROTOCOL_SCHEME" />
      </intent-filter>
    </activity>


    <provider
      android:name="androidx.core.content.FileProvider"
      android:authorities="${applicationId}.provider"
      android:grantUriPermissions="true"
      android:exported="false">
      <meta-data
          android:name="android.support.FILE_PROVIDER_PATHS"
          android:resource="@xml/filepaths" />
    </provider>
  </application>

</manifest>
