<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Forest Watcher</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>en</string>
		<string>fr</string>
		<string>id</string>
		<string>es</string>
		<string>pt</string>
	</array>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.6.3</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string></string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>__RN_CONFIG_LOGIN_GOOGLE_REDIRECT_SCHEMA</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>org.wri.ForestWatcherBetaVizz</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>org.wri.ForestWatcherBetaVizz</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>__RN_CONFIG_LOGIN_FACEBOOK_PROTOCOL_SCHEME</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>6</string>
	<key>CodePushDeploymentKey</key>
	<string>__RN_CONFIG_CODEPUSH_DEPLOY_KEY</string>
	<key>CodePushPublicKey</key>
	<string>-----BEGIN PUBLIC KEY-----
__RN_CONFIG_CODEPUSH_RELEASE_PUBLIC_KEY
-----END PUBLIC KEY-----</string>
	<key>FacebookAppID</key>
	<string>__RN_CONFIG_LOGIN_FACEBOOK_APP_ID</string>
	<key>FacebookDisplayName</key>
	<string>Global Forest Watch</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-share-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>We need access to the camera.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>The app uses the localization services, please activate them</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>The app uses the localization services, please activate them</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>$(PRODUCT_NAME) would like to save photos to your photo gallery</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>We need access to the media library.</string>
	<key>UIAppFonts</key>
	<array>
		<string>firasansot_light.ttf</string>
		<string>firasansot_regular.ttf</string>
		<string>firasansot_medium.ttf</string>
		<string>firasansot_italic.otf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDefault</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>CFBundleAllowMixedLocalizations</key>
	<true/>
</dict>
</plist>
