<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleAllowMixedLocalizations</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Forest Watcher</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array/>
			<key>CFBundleTypeName</key>
			<string>KML</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.google.earth.kml</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array/>
			<key>CFBundleTypeName</key>
			<string>GPX</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.gpx</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array/>
			<key>CFBundleTypeName</key>
			<string>GeoJSON</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.geojson</string>
			</array>
		</dict>
    <dict>
      <key>CFBundleTypeIconFiles</key>
      <array/>
      <key>CFBundleTypeName</key>
      <string>TopoJSON</string>
      <key>LSHandlerRank</key>
      <string>Owner</string>
      <key>LSItemContentTypes</key>
      <array>
        <string>public.topojson</string>
      </array>
    </dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array/>
			<key>CFBundleTypeName</key>
			<string>KMZ</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.google.earth.kmz</string>
        <string>com.pkware.zip-archive</string>
			</array>
		</dict>
		<dict/>
	</array>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>en</string>
		<string>fr</string>
		<string>id</string>
		<string>es</string>
		<string>pt</string>
	</array>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string></string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>$(LOGIN_GOOGLE_REDIRECT_SCHEMA)</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>org.wri.ForestWatcherBetaVizz</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>org.wri.ForestWatcherBetaVizz</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>$(LOGIN_FACEBOOK_PROTOCOL_SCHEME)</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>6</string>
	<key>FacebookAppID</key>
	<string>$(LOGIN_FACEBOOK_APP_ID)</string>
	<key>FacebookDisplayName</key>
	<string>Global Forest Watch</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-share-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
	</array>
	<key>LSHasLocalizedDisplayName</key>
	<true/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Forest Watcher will use your camera when running the application to collect photos for your reports.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>App requires background tracking</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>The app uses the location services to help you navigate in the application.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>The app uses the location services to help you navigate in the application.</string>
	<key>NSMotionUsageDescription</key>
	<string>App requires motion tracking</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Forest Watcher would like to save photos from your report to your photo gallery</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Forest Watcher needs access to allow you to add previously taken photos to your reports</string>
	<key>UIAppFonts</key>
	<array>
		<string>firasansot_light.ttf</string>
		<string>firasansot_regular.ttf</string>
		<string>firasansot_medium.ttf</string>
		<string>firasansot_italic.otf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDefault</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.xml</string>
			</array>
			<key>UTTypeDescription</key>
			<string>KML</string>
			<key>UTTypeIconFiles</key>
			<array/>
			<key>UTTypeIdentifier</key>
			<string>com.google.earth.kml</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>kml</string>
				<key>public.mime-type</key>
				<string>application/vnd.google-earth.kml+xml</string>
			</dict>
		</dict>
    <dict>
      <key>UTTypeConformsTo</key>
      <array>
        <string>public.archive</string>
      </array>
      <key>UTTypeDescription</key>
      <string>KMZ</string>
      <key>UTTypeIconFiles</key>
      <array/>
      <key>UTTypeIdentifier</key>
      <string>com.google.earth.kmz</string>
      <key>UTTypeTagSpecification</key>
      <dict>
        <key>public.filename-extension</key>
        <string>kmz</string>
        <key>public.mime-type</key>
        <string>application/zip</string>
      </dict>
    </dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.xml</string>
			</array>
			<key>UTTypeDescription</key>
			<string>GPX</string>
			<key>UTTypeIconFiles</key>
			<array/>
			<key>UTTypeIdentifier</key>
			<string>public.gpx</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>gpx</string>
				<key>public.mime-type</key>
				<string>application/gpx+xml</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.json</string>
			</array>
			<key>UTTypeDescription</key>
			<string>GeoJSON</string>
			<key>UTTypeIconFiles</key>
			<array/>
			<key>UTTypeIdentifier</key>
			<string>public.geojson</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>geojson</string>
				<key>public.mime-type</key>
				<string>application/geo+json</string>
			</dict>
		</dict>
    <dict>
      <key>UTTypeConformsTo</key>
      <array>
        <string>public.json</string>
      </array>
      <key>UTTypeDescription</key>
      <string>TopoJSON</string>
      <key>UTTypeIconFiles</key>
      <array/>
      <key>UTTypeIdentifier</key>
      <string>public.topojson</string>
      <key>UTTypeTagSpecification</key>
      <dict>
        <key>public.filename-extension</key>
        <string>topojson</string>
        <key>public.mime-type</key>
        <string>application/json</string>
      </dict>
    </dict>
	</array>
</dict>
</plist>
